---
import { config } from "@parseConfig"

const year = new Date().getFullYear()
---

<footer
  class="mt-16 inline-flex items-baseline justify-between gap-x-4 pt-8 text-xs text-muted-foreground sm:text-sm"
>
  <p>
    &copy; {year}
    <span class="font-medium text-foreground/80">{config.site.author}</span>
  </p>

  <p>
    Built with <a
      href="https://github.com/odhyp/astro-sidey"
      target="_blank"
      rel="noopener noreferrer"
      class="font-medium text-foreground/80 underline underline-offset-2 transition-colors duration-200 ease-out hover:text-foreground"
      >Astro Sidey</a
    >
  </p>
</footer>
