---
interface Props {
  tags: string[]
}
const { tags } = Astro.props
---

<div class="mt-8 flex flex-wrap gap-x-4 gap-y-0">
  {
    tags.map((tag) => (
      <span class="text-sm whitespace-nowrap text-muted-foreground">
        #{tag}
      </span>
    ))
  }
</div>
